@using Microsoft.AspNetCore.Razor.Language.Intermediate

@functions {
	private class SidebarOption
	{
		public string DisplayName { get; set; } = string.Empty;
		public string Controller { get; set; } = string.Empty;
		public string Action { get; set; } = string.Empty;
		public string Icon { get; set; } = string.Empty;
		public bool Disabled { get; set; } = false;
		public bool Active { get; set; } = false;
		public bool OffsetSection { get; set; } = false;
	}
}

<label
	class="swap swap-rotate tooltip tooltip-right self-end rounded-md px-3 py-2 text-lg transition-colors hover:bg-base-100"
	data-tip="Przełącz boczny pasek">
	<input type="checkbox" id="sidebar-expand-checkbox" />

	<i class="swap-off bi bi-arrow-bar-right"></i>
	<i class="swap-on bi bi-arrow-bar-left"></i>
</label>

@{
	var activePage = ViewData["ActivePage"] as string;

	var menuItems = new List<SidebarOption>
	{
		new SidebarOption
		{
			DisplayName = "Przegląd",
			Controller = "Home",
			Action = "Index",
			Icon = "house-fill",
			Active = activePage == "Home",
		},
		new SidebarOption
		{
			DisplayName = "Zgłoszenia",
			Controller = "Submissions",
			Action = "Index",
			Icon = "envelope-paper-fill",
			Active = activePage == "Submissions",
		},
		new SidebarOption
		{
			DisplayName = "Plan kolędy",
			Controller = "Calendar",
			Action = "Index",
			Icon = "calendar-week-fill",
			Active = activePage == "Calendar",
		},
		new SidebarOption
		{
			DisplayName = "Utwórz zgłoszenie",
			Controller = "Submissions",
			Action = "New",
			Icon = "plus-square-dotted",
			Active = activePage == "NewSubmission",
		},
		new SidebarOption() 
		{
			DisplayName = "Ustawienia",
			Controller = "Settings",
			Action = "Index",
			Icon = "gear",
			Active = activePage == "Settings",
			OffsetSection = true,
		},
	};
}

<div class="font-noto-sans flex flex-col flex-1 gap-1 text-lg font-medium whitespace-nowrap">
	@foreach (var option in menuItems)
	{
		<a asp-controller="@option.Controller" asp-action="@option.Action" role="button"
			class="flex h-12 w-full items-center gap-1 overflow-x-clip rounded-md transition-colors hover:bg-primary hover:text-base-content pe-3 
					@(option.Active ? "bg-base-100 text-base-content" : "") 
					@(option.Disabled ? "opacity-50 pointer-events-none cursor-not-allowed" : "") 
					@(option.OffsetSection ? "mt-auto" : "")">
			<div class="flex min-w-12 justify-center">
				<i class="bi bi-@option.Icon text-2xl"></i>
			</div>
			@option.DisplayName
		</a>
	}
</div>

<script>
	window.onload = () => {
		sidebarChangeState();
		document.querySelector("#sidebar-expand-checkbox").addEventListener("change", (e) => sidebarChangeState(e));
	}
</script>